

.button{
    /* position: fixed; */
    /* top: 500px; */
    /* 
    ;
    background:rgb(73, 198, 198); */

    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px; 
    margin-left: 100px
    

}

/* 
  h1{
    position: relative;
    top: -50px;

}   */
/* .form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* .button{
    margin-right: 500px;
    margin-top: -550px; 
    text-align: left;
}  */
/* .Layout header{
    grid-column: span 8;
    padding: 10px;
    background-color: lightcyan;
}

.Layout aside{
    padding: 10px;
    background-color: lightsteelblue;
}

.Layout main{
    grid-column: span 7;
    padding: 10px;
} */
