.Layout{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px auto;
}

.Layout header{
    grid-column: span 8;
    padding: 10px;
    background-color: lightcyan;
}

.Layout aside{
    padding: 10px;
    background-color: lightsteelblue;
}

.Layout main{
    grid-column: span 7;
    padding: 10px;
}


