html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#root{
  height: 100%;
  overflow: hidden;
}

h1{
    color: #cd362a;
    font-weight: 900;
}

button.btn-second{
  background: #cd362a !important
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Noto Sans Hebrew', sans-serif !important;
  color: rgb(0, 57, 107); 
}

.MuiSnackbarContent-message {
  color: white;
}

.MuiButton-containedPrimary{
  background:rgb(0, 57, 107) !important;
  /* min-width: 200px !important; */
}

.MuiButton-containedPrimary path{
 fill: white ;
}

.delete-button{
  cursor: pointer;
  transform: 0.3s;
}

.delete-button:hover{
  scale: 1.1;
}

.delete-button path  {
  fill: red  !important ;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  direction: rtl !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.flex{
  display: flex !important;

}

.flex.row{
  flex-direction: row !important;
}

.flex.space{
  justify-content: space-between !important;
}

.gap-10{
  gap: 10px;
}

.flex.center{
  gap: 10px;
  justify-content: center;
}


.btn-top{
  min-width: 170px !important;
  gap: 5px !important;
  background: #cd362a !important;
}

.btn-top-left{
  position: absolute !important;
  left: 40px !important;
  background: #cd362a !important;
}

.datagrid-container {
  width: 100%; /* Take full width of the page */
  height: 100vh; /* Take full height of the viewport */
}

.CancelIcon{
  transition: 0.1s !important;
  cursor: pointer  !important;
}

.CancelIcon:hover{
  scale: 1.2;
}

label {
  background: white;
  padding: 0 6px !important;
}